# Игнорировать файлы и папки Node.js  
node_modules/  
npm-debug.log  
yarn-error.log  
  
# Игнорировать файлы IDE  
.idea/  
.vscode/  
  
# Игнорировать временные файлы  
*.log  
*.tmp  
*.swp  
*.swo  
  
# Игнорировать файлы операционной системы  
.DS_Store  
Thumbs.db  
  
# Игнорировать файлы сборки  
dist/  
build/  
  
# Игнорировать файлы конфигурации разработки  
.env  
.env.development  
  
# Игнорировать файлы документации  
docs/  
  
# Игнорировать тесты  
test/  
__tests__/  
  
# Игнорировать исходные карты  
*.map  
